hpedockerplugin:
  image: <plugin-image-name:tag>
  container_name: <container-name>
  net: host
  privileged: true
  volumes:
     - /dev:/dev
     - <path-to-your-.ssh-dir>:/root/.ssh
     - /run/docker/plugins:/run/docker/plugins
     - /lib/modules:/lib/modules
     - /var/lib/docker/:/var/lib/docker
     - /etc/hpedockerplugin/data:/etc/hpedockerplugin/data:shared
     - /etc/iscsi/initiatorname.iscsi:/etc/iscsi/initiatorname.iscsi
     - /etc/hpedockerplugin:/etc/hpedockerplugin
     - /var/run/docker.sock:/var/run/docker.sock
